.postBigContainer {
  background-color: white;
  min-height: calc(100vh - 120px);
  min-width: 150vh;

  margin-top: 32px;
  padding-bottom: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.postBigContainer img {
  display: flex;
  flex-direction: row;
  margin: 0 16px; /* 이미지 사이의 간격을 조정합니다. */
  width: 320px;
  height: 320px;
  flex-shrink: 0; /* 이미지가 줄어들지 않도록 설정합니다. */
  object-fit: cover;
}

.postSmallContainer {
  padding-top: 1%;
  width: 1170px;
}

.postDetailImageWrapper {
  display: flex;
  flex-direction: row;

  justify-content: center;

  margin-bottom: 40px;
}

.postDetailDate {
  font-size: 30px;
  color: #ffa8bc;
}

/* .postDetailDate::after {
  justify-content: center;
  content: "";
  display: block;
  width: 100%; 
  height: 1px; 
  background-color: #ffa8bc; 

  margin-top: 13px;
} */

.postDetailGpsContainer a {
  text-decoration: none;
  color: black;

  display: flex;
  flex-direction: row;
}

.postDetailGpsContainer {
  margin-left: 73px;
  padding-left: 0px;
}

.postDetailGpsContainer li {
  display: flex;
  align-items: center;
  list-style-type: none;

  margin: 10px 0px;
}

.postDetailGpsContainerImg {
  display: flex;

  max-width: 24px;
  max-height: 32px;
  object-fit: contain;
}

.postDetailButton {
  font-size: 20px;
  margin: 10px 20px;
  padding: 4px 20px;

  border-radius: 20px 20px 20px 20px;
  border: none;
  background-color: #b4d8ff;
  color: white;
}

.postDetailContent {
  width: 1024px;

  margin-left: 73px;
}

.postDetailButton:hover {
  background-color: #58a9ff;
}

.postWrapperUnderDate {
  border: 1px solid #ffa8bc;
}
