.postWriteBigWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;

  background-color: white;

  margin-top: 32px;

  height: 150vh;

  font-family: "NanumRegular";
}

.postWriteBoder {
  border: 1px solid #ffa8bc;
  width: 1180px;
  height: 110vh;
}

.postWriteTitle input {
  margin: 10px 20px;
  width: 1135px;
  height: 50px;
}

.postWriteContent textarea {
  margin: 10px 20px;
  width: 1135px;
  height: 480px;

  resize: none;
}

.postWriteGpsContainer {
  display: flex;
  flex-direction: row;

  border: 1px solid lightgray;
  padding: 10px;
  margin: 10px 20px;

  width: 940px;
}

.postWriteGpsLogo {
  max-width: 24px;
  max-height: 32px;
  object-fit: contain;
  margin-right: 10px;
}

.postWriteFileDateContainer {
  margin: 10px 20px;

  padding: 0px;
  min-width: 960px; /*950이 맞는데 그렇게 나오지 않음 고쳐야함*/
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border: 1px solid lightgray;
}

.postWriteFileDateContainer label {
  margin: 0px 20px;
}

.postWriteCustomFile input[type="file"] {
  display: none;
}

.postWriteFileDateButtonContainer {
  display: flex; /* 내부 요소들을 행으로 정렬 */
  justify-content: space-between; /* 내부 요소들을 좌우로 정렬 */
}

.postWriteSummitButton {
  margin: 10px 0px;
}

.postWriteSummitButton button {
  min-width: 160px;
  height: 50px;
}

.postWriteImagePreview {
  border: 1px solid lightgray;
  margin: 10px 20px;
  display: flex;
  justify-content: left;

  width: 960px;
}

.postWriteImagePreview img {
  flex-direction: row;

  width: 250px;
  height: 250px;
  margin: 10px 30px;
  object-fit: cover;
}
