body {
  margin: 0;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  height: 100vh; /* 100% viewport height */
  margin: 0; /* Remove default body margin */
}

.homeBackground {
  z-index: -2;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  object-fit: cover; /* 이미지가 부모 요소에 맞게 늘어나도록 설정 */
  filter: brightness(70%); /* 명도를 70%로 설정 (30% 낮춤) */
}

.homeContainer {
  /* 컨테이너 내부의 인라인 콘텐츠를 가운데 정렬하는 스타일 추가 */
  text-align: center;
}
