.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  margin: 0 40px; /* 버튼 사이의 간격을 조정합니다. */
  background: none; /* 배경을 투명하게 설정합니다. */
  border: none; /* 테두리를 없앱니다. */
  cursor: pointer; /* 마우스 커서를 포인터로 변경합니다. */
}

.button img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover; /* 이미지를 원형에 맞게 보여줍니다. */
  margin-bottom: 10px;
}

.button span {
  text-align: center;
}
