.loginContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loginTextContainer {
  display: flex;
  align-items: center;
  justify-content: center; /* 수평 중앙 정렬 */
  position: relative; /* 선을 위한 기준점으로 설정 */
  margin-top: 200px; /* 위쪽 간격 조절 */
  margin-bottom: -200px; /* 아래쪽 간격 조절 */
}

.loginTextContainer::after {
  content: "";
  position: absolute;
  bottom: -5px; /* 선이 텍스트 아래에 위치하도록 설정합니다. */
  left: 50%; /* 가운데 정렬 */
  transform: translateX(-50%); /* 가운데 정렬 */
  width: 50%; /* 가운데에서부터 좌우로 뻗어나오도록 설정합니다. */
  height: 1px;
  background-color: black;
}

.loginButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  margin: 0 40px; /* 버튼 사이의 간격을 조정합니다. */
  background: none; /* 배경을 투명하게 설정합니다. */
  border: none; /* 테두리를 없앱니다. */
  cursor: pointer; /* 마우스 커서를 포인터로 변경합니다. */
}

.loginButton img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover; /* 이미지를 원형에 맞게 보여줍니다. */
  margin-bottom: 10px;
}

.loginButton span {
  text-align: center;
}
