.postWriteBigWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: white;

  height: 100vh;
}

.postWriteBoder {
  border: 1px solid #ffa8bc;
  width: 1180px;
  height: 80vh;
}

.postWriteTitle input {
  margin: 10px 20px;
  width: 1135px;
  height: 50px;
}

.postWriteContent textarea {
  margin: 10px 20px;
  width: 1135px;
  height: 480px;
  /*이거 이상함*/
}

.postWriteGpsContainer {
  display: flex;
  flex-direction: row;

  border: 1px solid lightgray;
  padding: 10px;
  margin: 10px 20px;

  width: 950px;
}

.postWriteGpsLogo {
  max-width: 24px;
  max-height: 32px;
  object-fit: contain;
  margin-right: 10px;
}

.postWriteFileDateContainer {
  margin: 10px 20px;
  padding: 10px;
  width: 950px; /*950이 맞는데 그렇게 나오지 않음 고쳐야함*/
  height: 50px;

  border: 1px solid lightgray;
}

.postWriteCustomFile input[type="file"] {
  display: none;
}

.postWriteSummitButton {
  display: flex;
  flex-direction: row;
}

.postWriteImagePreview {
  border: 1px solid lightgray;
  margin: 10px 50px;
  display: flex;
  justify-content: center;
}

.postWriteImagePreview img {
  flex-direction: row;

  width: 200px;
  height: 200px;
  margin: 10px;
  object-fit: cover;
}
